#Ignore everything
/*
!/.gitignore
!/hypr-reboot.sh
!/hypr-poweroff.sh
!/hypr-exit.sh

# but include 
!/fastfetch/
!/fish/
!/ghostty/
!/gtk-3.0/
!/gtk-4.0/
!/gtkrc-2.0
!/hypr/
!/rofi
!/waybar
!/xfce4

